/* Basic styling */
html,
body {
  margin: 0;
  padding: 0 1rem;
  background-image: linear-gradient(#af67e9, #6565e7);
  scroll-behavior: smooth;
  color: hsl(238, 29%, 16%);
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Card */
.card {
  position: relative;
  margin: 0;
  display: flex;
  max-width: 800px;
  width: 100%;
  min-height: 500px;
  /* align-items: center; */
  background: white;
  border-radius: 20px;
}

.card h1 {
  font-weight: 700;
}

/* Columns */
.column {
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.column-left {
  /* display: flex; */
  position: relative;
  overflow: hidden;
}

.column-right {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  /* flex-grow: 2; */
  align-self: center;
}

/* Q&A */
.q-and-a {
  font-size: 12px;
  border-bottom: 0.5px solid hsl(240, 5%, 91%);
  padding-top: 1rem;
  color: hsl(240, 6%, 50%);
}

.question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: hsl(240, 6%, 50%);
  margin-bottom: 0.6rem;
}

.question::after {
  content: url(images/icon-arrow-down.svg);
  transition: 0.5s ease transform;
}

.question-active {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

.question-active::after {
  transform: rotate(180deg);
}

.answer {
  display: none;
}

.answer-active {
  display: block;
  max-width: 400px;
}

/* SVG Images */
.img-arrow {
  position: absolute;
  right: 50px;
  cursor: pointer;
}

/* Images for larger devices */
.img-box {
  position: absolute;
  /* top: 45%; */
  left: -95px;
  bottom: 95px;
  /* transform: translateY(-50%); */
  z-index: 2;
}

.img-woman-desktop {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  bottom: 60px;
  right: 10px;
  z-index: 1;
}

.img-shadow-desktop {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  bottom: -150px;
  right: 30px;
}

/* Images for small devices */
.img-woman-mobile {
  display: none;
  position: relative;
}

.img-shadow-mobile {
  display: none;
  position: relative;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.attribution a {
  color: #9ea8d1;
}

/* Media queries */

/* Tablet Horizontal */
@media screen and (max-width: 992px) {
  .card {
    margin-top: 2rem;
    min-height: 350px;
  }
}

/* Mobile horizontal */
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .card h1 {
    text-align: center;
  }

  .column {
    width: 100%;
    /* padding-top: 0;
    padding-bottom: 0; */
  }

  .column-left {
    overflow: visible;
    height: 0;
    text-align: center;
  }
  .column-right {
    padding-bottom: 2rem;
  }

  /* Hide larger images and display smaller ones */
  .img-shadow-desktop,
  .img-woman-desktop,
  .img-box {
    display: none;
  }

  .img-shadow-mobile,
  .img-woman-mobile {
    display: block;
  }

  .img-woman-mobile {
    top: -155px;
    left: -15px;
    margin: 0 auto;
  }
  .img-shadow-mobile {
    top: -250px;
    margin: 0 auto;
  }
}
/* Mobile vertical */
@media screen and (max-width: 480px) {
}
